.check{
    
    
    font-size: 500%;
    background-color:white;
    color : white;
    
    margin-left:10px;
    margin-bottom:5px;
}

.check{
	background:white;
	background-color:#ffffff;
	border-radius:4px;
	border:3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Verdana;
	font-size:28px;
	font-weight:bold;
	padding:2px 5px;
	text-decoration:none;
}
.check:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.check:active {
	position:relative;
	top:1px;
}

.input{
    width:90%;
    
    font-size:2em;
}
body{
    background-color:rgb(255, 255, 131);
}

h1{
    color:blue;
    font-size:5em;
}

.suppr{
    margin-left:30px;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.suppr:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.suppr:active {
	position:relative;
	top:1px;
}

#plus{
    width:90%;
}
#plus {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #b807b8 5%, #ff14f7 100%);
	background-color:#b807b8;
	border-radius:18px;
	border:1px solid #ff00cc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:28px;
	font-weight:bold;
	padding:7px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#plus:hover {
	background:linear-gradient(to bottom, #ff14f7 5%, #b807b8 100%);
	background-color:#ff14f7;
}
#plus:active {
	position:relative;
	top:1px;
}

#helpa{
    position:absolute;
    right:10px;
}

.a{
    background:linear-gradient(to bottom, #ff6a00 5%, #8e4700 100%);
	background-color: rgb(255, 162, 0);
	color:white;
	text-decoration:none;
	padding:10px 20px;
	border-radius:10px;
	font-size:20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style:bold;
	position:relative;
	top:5px;
	
}
.a:hover {
	background:linear-gradient(to bottom, #823d00 5%, #ff7700 100%);
	background-color:#ff14f7;
}
.a:active {
	position:relative;
	top:1px;
}

p, #there{
	font-size:30px;
}
